<div class="container-fluid">
  <app-cities-autocomplete></app-cities-autocomplete>
  <div class="table">
    <div class="widget col-4 pull-left">
      <div class="weatherIcon"><i class="fa fa-day-cloudy"></i></div>
      <div class="weatherInfo">
        <div class="temperature"><span>25&deg;</span></div>
        <div class="description">
          <div class="weatherCondition">CLOUDY</div>
          <div class="place">New York, New York</div>
        </div>
      </div>
      <div class="pull-left">1st Jan</div>
      <div class="pull-right">1st Jan</div>
    </div>
    <div class="col-8 pull-right"></div>
  </div>
</div>